{% extends 'base.html' %}
{% block content %}
<h1>LadangJualBeliBolaDisepak</h1>
<h3>Nama:</h3>
    <p>{{ name }}</p>
<h3>NPM:</h3>
    <p>{{ npm }}</p>

<a href="{% url 'main:add_product' %}">
    <button>Add Product</button>
</a>

<hr>

{% if not products_list %}
<p>Kosong melompong</p>
{% else %}

{% for product in products_list %}
<div>
    <img src={{product.thumbnail}} alt="thumbnail" height="100">
    <br />
    <p><b>{{ product.get_name }}</b>
        {{ product.price }} Dollerinos $$$
    </p>
    <p>{{ product.description|truncatewords:25 }}...</p>
    <p><a href="{% url 'main:product_details' product.id %}"><button>Detail</button></a></p]>
</div>

<hr>
{% endfor %}
{% endif %}
{% endblock %}