{% extends 'base.html' %}
{% block content %}
<h1>LadangJualBeliBolaDisepak</h1>
<h3>Nama:</h3>
    <p>{{ name }}</p>

<a href="{% url 'main:add_product' %}">
    <button>Add Product</button>
</a>

<hr>

{% if not products_list %}
<p>Kosong melompong</p>
{% else %}

{% for product in products_list %}
<div>
    <img src={{product.thumbnail}} alt="thumbnail" height="100">
    <br />
    <p><b>{{ product.get_name }}</b>
        {{ product.price }} Dollerinos $$$
    </p>
    <p>{{ product.description|truncatewords:25 }}...</p>
    <p><a href="{% url 'main:product_details' product.id %}"><button>Detail</button></a></p]>
</div>
<hr>
{% endfor %}
{% endif %}
<h5>Sesi terakhir login: {{ last_login }}</h5>
<hr>
<a href="?filter=all">
    <button type="button">All Products</button>
</a>
<a href="?filter=my">
    <button type="button">My Products</button>
</a> 
<a href="{% url 'main:logout' %}">
  <button>Logout</button>
</a>

{% endblock %}